<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
    <h1>Products:</h1>
    <ul>
        {% for product in products %}
            <li>
                <form hx-post="{% url 'add_to_cart2' %}" hx-swap="innerHTML" hx-target="#result">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    {% csrf_token %}
                    <h2>{{ product.name }}</h2>
                    <p>${{ product.price }}</p>
                    {% for variation in product.productvariation_set.all %}
                        <input type="checkbox" name="variations" value="{{ variation.id }}">{{ variation.variation_name }}<br>
                    {% endfor %}
                    <button type="submit">Add to Cart</button>
                </form>
            </li>
        {% endfor %}

        <div id="result"></div>
    </ul>
</body>
</html>