{% extends "p1/base.html" %}
{% block title %}

{% endblock title %}

{% block main %}
<div class="w-3/4 mx-auto">
    <p>AGB</p>

<p>&sect; 1 Geltungsbereich F&uuml;r alle &uuml;ber diese Seite get&auml;tigten Bestellungen gelten die nachfolgenden Allgemeinen Gesch&auml;ftsbedingungen (AGB).</p>

<p>Unser Warenangebot richtet sich ausschlie&szlig;lich an Verbraucher. Verbraucher ist jede nat&uuml;rliche Person, die ein Rechtsgesch&auml;ft zu Zwecken abschlie&szlig;t, die &uuml;berwiegend weder ihrer gewerblichen noch ihrer selbst&auml;ndigen beruflichen T&auml;tigkeit zugerechnet werden k&ouml;nnen (&sect; 13 BGB).</p>

<p>&sect; 2 Gew&auml;hrleistung Soweit nicht nachstehend ausdr&uuml;cklich anders vereinbart, gilt das gesetzliche M&auml;ngelhaftungsrecht. Als K&auml;ufer werden Sie gebeten, die Ware bei Lieferung umgehend auf Vollst&auml;ndigkeit, offensichtliche M&auml;ngel und Transportsch&auml;den zu &uuml;berpr&uuml;fen und uns Beanstandungen schnellstm&ouml;glich mitzuteilen. Kommen Sie dem nicht nach, hat dies keine Auswirkung auf Ihre gesetzlichen Gew&auml;hrleistungsanspr&uuml;che.</p>

<p>&sect; 3 Haftung Der Verk&auml;ufer haftet nicht f&uuml;r Sch&auml;den, die er, sein gesetzlicher Vertreter oder Erf&uuml;llungsgehilfe durch einfache Fahrl&auml;ssigkeit verursacht hat, Dies gilt ohne R&uuml;cksicht auf die Rechtsnatur des geltend gemachten Anspruchs, insbesondere aus Verzug, sonstiger Pflichtverletzung oder unerlaubter Handlung. Diese Haftungsbeschr&auml;nkung gilt nicht f&uuml;r Sch&auml;den aus der Verletzung des Lebens, des K&ouml;rpers oder der Gesundheit und aus der Verletzung wesentlicher Vertragspflichten.</p>

<p>&sect; 4 Preise Sofern sich aus der Produktbeschreibung des Verk&auml;ufers nichts anderes ergibt, handelt es sich bei den angegebenen Preisen um Gesamtpreise, die alle relevanten Steuern enthalten. Gem&auml;&szlig; &sect; 19 UStG wird keine Umsatzsteuer berechnet.</p>

<p>&sect; 5 Eigentumsvorbehalt Wir behalten uns das Eigentum an der Ware bis zur vollst&auml;ndigen Bezahlung des Kaufpreises vor.</p>

<p>&sect; 6 Vertragsabschluss In Prospekten, Anzeigen usw. enthaltene Angebote sind &ndash; auch bez&uuml;glich der Preisangaben &ndash; freibleibend und unverbindlich. An individuell ausgearbeitete Angebote h&auml;lt sich der Verk&auml;ufer 30 Kalendertage gebunden.</p>

<p>Nebenabreden, &Auml;nderungen und Erg&auml;nzungen eines Vertrages sollen schriftlich vereinbart werden.</p>

<p>Die bei Vertragsabschluss festgelegten Bezeichnungen und Spezifikationen stellen den technischen Stand zu diesem Zeitpunkt dar. Konstruktions&auml;nderungen f&uuml;r Lieferungen im Rahmen dieses Vertrages beh&auml;lt der Verk&auml;ufer sich ausdr&uuml;cklich vor, sofern diese &Auml;nderungen nicht grundlegender Art sind und der vertragsgem&auml;&szlig;e Zweck nicht erheblich eingeschr&auml;nkt wird.</p>

<p>&sect; 7 Zahlungsarten Grunds&auml;tzlich stehen Ihnen die folgenden Zahlungsarten zur Verf&uuml;gung: &ndash; PayPal &ndash; &Uuml;berweisung</p>

<p>&sect; 8 Lieferung und Versandbedingungen Die Lieferzeiten betragen X Werktage (als Werktage z&auml;hlen wir Montag bis Samstag, ausschlie&szlig;lich Sonntag und Feiertage). Dabei beginnt die Frist f&uuml;r die Lieferung am Tag nach Vertragsschluss zu laufen.</p>

<p>F&auml;llt das Fristende auf einen Sonntag oder gesetzlichen Feiertag am Lieferort, so endet die Frist am n&auml;chsten Werktag.</p>

<p>Die Lieferung von Waren erfolgt auf dem Versandweg an die vom Kunden angegebene Lieferanschrift, sofern nichts anderes vereinbart ist.</p>

<p>Eine Selbstabholung der Ware ist nicht m&ouml;glich.</p>

<p>&sect; 9 Streitbeilegung Die EU-Kommission stellt im Internet unter folgendem Link eine Plattform zur Online-Streitbeilegung bereit: https://ec.europa.eu/consumers/odr</p>

<p>Diese Plattform dient als Anlaufstelle zur au&szlig;ergerichtlichen Beilegung von Streitigkeiten aus Online-Kauf- oder Dienstleistungsvertr&auml;gen, an denen ein Verbraucher beteiligt ist.</p>

<p>Zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle sind wir nicht verpflichtet und nicht bereit.</p>
</div>
{% endblock main %}