{% load static %}
{% load static %}
<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <link
            rel="shortcut icon"
            href="{% static 'mina/fav.png' %}"
            type="image/x-icon"
        >
        <link
            rel="stylesheet"
            href="{% static 'mina/style.min.css' %}"
        >
        <script
            defer
            src="{% static 'mina/alpine.min.js' %}"
        ></script>
        <style>
            [x-cloak] {
                display: none !important;
            }
        </style>
        <title class="font-bold">{% block title %} {% endblock title %}</title>
        <script id="usercentrics-cmp" async data-eu-mode="true" data-settings-id="UOpkY04RTIZilu" src="https://app.eu.usercentrics.eu/browser-ui/latest/loader.js"></script>
    </head>
    {% include "p1/header.html" %}

    <body class="px-6 py-4">
        {% block main %} {% endblock main %}
    </body>
    {% include "p1/footer.html" %}

</html>