{% load static%}
<div class="md:w-1/4 sm:order-1 sm:my-0 justify-center order-2 my-6">
    <div
        class="top-4 sticky [&::-webkit-scrollbar]:hidden bg-gray-50 shadow-xl mx-auto sm:mt-8 border rounded-xl w-full sm:w-auo sm:h-[500px] [-ms-overflow-style:none] overflow-x-auto sm:overflow-y-auto [scrollbar-width:none]">
        <h3 class="text-slate-600 px-2 pt-6 pb-3 mx-4 text-2xl font-bold text-center border-b-2 border-gray-300">
            Unsere
            Kategorien</h3>
        <div class="sm:flex-col sm:p-8 sm:space-x-0 flex p-3 space-x-4 space-y-4">
            {% for c in all_categories %}
            <div
                class="hover:border-2 hover:shadow-2xl rounded-xl min-w-52 sm:min-w-5/6 hover:scale-105 hover:boder-gray-700 p-4 duration-500 ease-in-out bg-white border border-gray-200 cursor-pointer">
                <a
                    href="{% url 'category' c.slug %}"
                    class="space-y-4"
                >
                    <img
                        src="{{c.background.url}}"
                        alt=""
                        class="animate-pulse hover:animate-none object-cover mx-auto overflow-hidden rounded-lg"
                        style="animation-duration: 2.{{forloop.counter}}s; animation-delay: 0.{{forloop.counter}}s;"
                    >
                    <div class="group-hover:text-green-500 text-slate-700 text-xl font-bold text-center duration-500">
                        {{c.name}}
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>