checkout test
<br>

<form
    method="post"
    action="{% url 'printing' %}"
>
    {% csrf_token %}
    <label for="name">Name:</label>
    <input
        type="text"
        id="name"
        name="name"
    >

    <label for="number">Number:</label>
    <input
        type="tel"
        id="phone"
        name="phone"
    >

    <label for="time">Pick a time:</label>
    <input
        type="time"
        id="pickup_time"
        name="pickup_time"
    >

    <button type="submit">Submit</button>
</form>