{%extends "p1/base.html"%}
{% block title %}
Impressum
{% endblock %}

{% block main %}
<div class="mx-auto w-3/4">
    <h1>Impressum</h1>

    <p>Ebu Bakr Aydemir<br />
        Mina-Luna<br />
        Wilhelm-Strau&szlig;-Weg 1b<br />
        21009 Hamburg</p>

    <h2>Kontakt</h2>
    <p>Telefon: 040/333 995 50<br />
        E-Mail: info@minadeli.de</p>

    <h2>Umsatzsteuer-ID</h2>
    <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
        DE 123 456 789</p>

    <h2>EU-Streitschlichtung</h2>
    <p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a
            href="https://ec.europa.eu/consumers/odr/"
            target="_blank"
            rel="noopener noreferrer"
        >https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

    <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
        teilzunehmen.</p>
</div>
{% endblock %}