{% extends 'p1/base.html' %}
{% load static%}
{% block title %}
Mina Luna!
{% endblock %}
{% block main %}
  <div
            x-data="{show:true}"
            x-show="show"
            x-init="setTimeout(() => show = false, 500)"
            x-transition:enter="transition ease-out duration-1000"
            x-transition:enter-start="opacity-0 transform"
            x-transition:enter-end="opacity-100 transform"
            x-transition:leave="transition ease-in duration-1000"
            x-transition:leave-start="opacity-100 transform"
            x-transition:leave-end="opacity-0 transform"
            class="z-50 fixed inset-0 place-items-center grid bg-white h-screen"
        >
            <img
                class="w-1/4"
                src="{% static 'sc.png'%}"
                alt=""
            >
        </div>
<main>
    <div class="flex md:flex-row flex-col md:space-x-10">
        {% include "p1/category_bar.html"%}
        <div class="space-y-12 order-first md:order-last my-10 md:w-3/4">
            <div
                x-data="{
                                    state: 0,
                                    list: [
                                                {% for i in screens %}
                                                    {'path' : '{{i.image.url}}', 'message' : '{{i.message}}'},
                                                {% endfor %}
                                    ],
                                    }"
                x-init="()=>{setInterval(()=>state===(list.length-1) ? state=0 : state++, 2000)}"
                class="object-cover"
            >
                <div class="relative flex justify-center items-center bg-black/20 m-4 rounded-2xl overflow-hidden">
                    <template x-for="i,j in list">
                        <img
                            :src="i.path"
                            class="-z-10 w-full h-96 object-cover"
                            x-show="state === j"
                            x-transition:enter="transition ease-in-out duration-1000 transform"
                            x-transition:enter-start="translate-x-5 opacity-0"
                            x-transition:enter-end="translate-x-0 opacity-100"
                        >
                    </template>
                    <div
                        class="left-2 absolute cursor-pointer"
                        @click="state===0? state=0 : state--"
                    ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                            fill="currentColor"
                            class="text-white hover:text-green-400 size-8"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm10.25.75a.75.75 0 0 0 0-1.5H6.56l1.22-1.22a.75.75 0 0 0-1.06-1.06l-2.5 2.5a.75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 1 0 1.06-1.06L6.56 8.75h4.69Z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </div>
                    <div
                        class="right-2 absolute cursor-pointer"
                        @click="state === (list.length-1) ? state=0 : state++"
                    ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                            fill="currentColor"
                            class="text-white hover:text-green-400 size-8"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M15 8A7 7 0 1 0 1 8a7 7 0 0 0 14 0ZM4.75 7.25a.75.75 0 0 0 0 1.5h4.69L8.22 9.97a.75.75 0 1 0 1.06 1.06l2.5-2.5a.75.75 0 0 0 0-1.06l-2.5-2.5a.75.75 0 0 0-1.06 1.06l1.22 1.22H4.75Z"
                                clip-rule="evenodd"
                            />
                        </svg>

                    </div>
                    <div class="bottom-2 absolute flex space-x-1 cursor-pointer">
                        <template x-for="i,j in list">
                            <div
                                class="rounded-full size-3"
                                :class="state === j? 'bg-green-500': 'bg-gray-400'"
                                @click="state = j"
                            ></div>
                        </template>
                    </div>
                    <template x-for="i,j in list">
                        <h1
                            x-show="state === j"
                            x-text="i.message"
                            class="absolute w-5/6 font-bold text-4xl text-center text-white"
                        >
                        </h1>
                    </template>
                </div>
            </div>

            <h1 class="font-bold text-4xl text-gray-600">Unsere neuen Gerichte</h1>
            <div class="gap-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                {% for p in products %}
                <div
                    class="border-gray-200 hover:border-2 hover:shadow-2xl rounded-xl group hover:boder-gray-700 p-4 border">
                    <a href="{%url 'detail' p.slug%}">
                        <img
                            src="{{p.image.url}}"
                            alt=""
                            class="group-hover:scale-110 mx-auto my-3 rounded-xl h-24 duration-500 ease-in-out object-contain"
                        >
                    </a>
                    <div class="text-gray-400 text-sm">{{p.category}}</div>
                    <div class="font-bold text-slate-700 text-xl">{{p.name}}</div>
                    <div class="flex justify-between items-center gap-1">
                        {% if p.price == 0.00 %}
                        <div class="font-bold text-green-400 invisible">{{p.price}}€</div>
                        {% else %}
                        <div class="font-bold text-green-400">{{p.price}}€</div>
                        {% endif %}
                        <a
                            href="{%url 'detail' p.slug%}"
                            class="bg-green-200 hover:bg-green-500 px-3 py-2 rounded-lg font-bold text-green-700 hover:text-white hover:-translate-y-2 duration-500 ease-in-out"
                        >Ansehen</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}