{% extends 'p1/base.html' %}
{% block title %}
Mina Luna!
{% endblock %}
{% block main %}
<main>
    <div class="md:flex-row md:space-x-10 flex flex-col">
        {% include "p1/category_bar.html"%}
        <div class="md:order-last md:w-3/4 order-first my-10 space-y-12">
            <div
                x-data="{
                                    state: 0,
                                    list: [
                                                {% for i in screens %}
                                                    {'path' : '{{i.image.url}}', 'message' : '{{i.message}}'},
                                                {% endfor %}
                                    ],
                                    }"
                x-init="()=>{setInterval(()=>state===(list.length-1) ? state=0 : state++, 2000)}"
                class="object-cover"
            >
                <div class="bg-black/20 rounded-2xl relative flex items-center justify-center m-4 overflow-hidden">
                    <template x-for="i,j in list">
                        <img
                            :src="i.path"
                            class="-z-10 h-96 object-cover w-full"
                            x-show="state === j"
                        >
                    </template>
                    <div
                        class="left-2 absolute cursor-pointer"
                        @click="state===0? state=0 : state--"
                    ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                            fill="currentColor"
                            class="hover:text-green-400 size-8 text-white"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm10.25.75a.75.75 0 0 0 0-1.5H6.56l1.22-1.22a.75.75 0 0 0-1.06-1.06l-2.5 2.5a.75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 1 0 1.06-1.06L6.56 8.75h4.69Z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </div>
                    <div
                        class="right-2 absolute cursor-pointer"
                        @click="state === (list.length-1) ? state=0 : state++"
                    ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                            fill="currentColor"
                            class="hover:text-green-400 size-8 text-white"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M15 8A7 7 0 1 0 1 8a7 7 0 0 0 14 0ZM4.75 7.25a.75.75 0 0 0 0 1.5h4.69L8.22 9.97a.75.75 0 1 0 1.06 1.06l2.5-2.5a.75.75 0 0 0 0-1.06l-2.5-2.5a.75.75 0 0 0-1.06 1.06l1.22 1.22H4.75Z"
                                clip-rule="evenodd"
                            />
                        </svg>

                    </div>
                    <div class="bottom-2 absolute flex space-x-1 cursor-pointer">
                        <template x-for="i,j in list">
                            <div
                                class="size-3 rounded-full"
                                :class="state === j? 'bg-green-500': 'bg-gray-400'"
                                @click="state = j"
                            ></div>
                        </template>
                    </div>
                    <template x-for="i,j in list">
                        <h1
                            x-show="state === j"
                            x-text="i.message"
                            class="absolute w-5/6 text-4xl font-bold text-center text-white"
                        >
                        </h1>
                    </template>
                </div>
            </div>

            <h1 class="text-4xl font-bold text-gray-600">Unsere neuen Gerichte</h1>
            <div class="sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 grid grid-cols-1 gap-3">
                {% for p in products %}
                <div
                    class="hover:border-2 hover:shadow-2xl rounded-xl group hover:boder-gray-700 p-4 border border-gray-200">
                    <a href="{%url 'detail' p.slug%}">
                        <img
                            src="{{p.image.url}}"
                            alt=""
                            class="group-hover:scale-110 rounded-xl object-contain h-24 mx-auto my-3 duration-500 ease-in-out"
                        >
                    </a>
                    <div class="text-sm text-gray-400">{{p.category}}</div>
                    <div class="text-slate-700 text-xl font-bold">{{p.name}}</div>
                    <div class="flex items-center justify-between gap-1">
                       {% if p.price == 0.00 %}
                             <div class="invisible font-bold text-green-400">{{p.price}}€</div>
                       {% else %}
                             <div class="font-bold text-green-400">{{p.price}}€</div>
                       {% endif %}
                        <a
                            href="{%url 'detail' p.slug%}"
                            class="hover:bg-green-500 hover:text-white hover:-translate-y-2 px-3 py-2 font-bold text-green-700 duration-500 ease-in-out bg-green-200 rounded-lg"
                        >Ansehen</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}