{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Bestellen {% endblock title%}
{% block body %}
<main class="main">
    <br>
    <div
        class="container p-5 bg-white shadow-md"
        style="width:500px; border-radius:20px;"
    >
        <form
            id="form"
            false--onsubmit="event.preventDefault();"
            action="{% url 'printing' %}"
            method="POST"
        >
        {% csrf_token %}
            <div>
                <h1> Bestellung </h1>
                <br>
                <p>vervollständige die fehlenden Informationen</p>
                <hr>
                <br>
                <h3> 1. Wann möchtest du es abholen? </h3>
                <hr>
                <div class="form-field">
                    <input
                        type="time"
                        id="pickup_time"
                        name="pickup_time"
                        min="00:00"
                        max="23:59"
                        step="60"
                    >
                    <script>
                        // Get current time
                        let now = new Date();
                        let hours = now.getHours().toString().padStart(2, '0');
                        let minutes = now.getMinutes().toString().padStart(2, '0');

                        // Adjust hours for 24-hour format
                        if (hours === '00') {
                            hours = '24';
                        }

                        // Set default value for the input field
                        document.getElementById('timePicker').value = `${hours}:${minutes}`;
                    </script>
                </div>
                <br>
                <h3> 2. Wer holt es ab? </h3>
                <hr>
                <div class="form-field">
                    <input
                        class="form-control validate"
                        id="name"
                        name="name"
                        type="text"
                        placeholder="Vor- und Nachname*"
                        autocomplete="off"
                        value="{{shipping.full_name}}"
                        required
                    >
                </div>
                <br>
                <h3> 3. Wie können wir dich erreichen? </h3>
                <hr>
                <div class="form-field">
                    <input
                        class="form-control validate"
                        id="phone"
                        name="phone"
                        type="tel"
                        placeholder="Format: 017612345678*"
                        autocomplete="off"
                        value="{{shipping.full_name}}"
                        required
                    >
                </div>
                <br>
                <button
                    @click="showNotification = true; setTimeout(() => showNotification = false, 1000)"
                    type="submit"
                    id="add-button"
                    class="button-add-to-cart button"
                >OHNE Paypal</button>

            </div>
            <br>

            <br>
            <div id="paypal-button-container"></div>
            <script
                src="https://www.paypal.com/sdk/js?client-id=AQ-3lQCZOT8vHldcG-AID5N6Zti5WTc_PV6DnyFT0cS0ozX5oiCT3CCn4XcEq2CRJhdON6tgze8x3njA&currency=EUR&intent=capture&enable-funding=venmo"
                data-sdk-integration-source="integrationbuilder"
            ></script>
        </form>
    </div>
    <br>
</main>

<!-- Ajax integration -->
<script>
    // total price
    var total_price = '{{cart.get_total}}'

    // Paypal

    const paypalButtonsComponent = paypal.Buttons({

        onInit: function (data, actions) {
            // Disable the buttons
            actions.disable();
            document.querySelectorAll('.validate').forEach(item => {
                item.addEventListener('keyup', event => {
                    // when fields complete
                    var order_verified = 'Yes';
                    function checkInputs() {
                        $(':input[required]').each(function () {
                            if ($(this).val() == '') {
                                // when fields empty
                                return order_verified = 'No';
                            }
                        });
                        return order_verified;
                    }
                    var isOrderVerified = checkInputs();
                    if (isOrderVerified === 'Yes') {
                        actions.enable();
                    } else {
                        actions.disable();
                    }
                })
            });

            var order_verified = 'Yes';
            function checkInputs() {
                $(':input[required]').each(function () {
                    if ($(this).val() == '') {
                        // when fields empty
                        return order_verified = 'No';
                    }
                });
                return order_verified;
            }
            var isOrderVerified = checkInputs();
            if (isOrderVerified === 'Yes') {
                actions.enable();
            } else {
                actions.disable();
            }
        },
        // optional styling for buttons
        // https://developer.paypal.com/docs/checkout/standard/customize/buttons-style-guide/
        style: {
            color: "gold",
            shape: "rect",
            layout: "vertical"
        },

        // set up the transaction
        createOrder: (data, actions) => {
            // pass in any options from the v2 orders create call:
            // https://developer.paypal.com/api/orders/v2/#orders-create-request-body
            const createOrderPayload = {
                purchase_units: [
                    {
                        amount: {
                            value: total_price
                        }
                    }
                ]
            };

            return actions.order.create(createOrderPayload);
        },

        // finalize the transaction
        onApprove: (data, actions) => {
            const captureOrderHandler = (details) => {

                const payerName = details.payer.name.given_name;

                console.log('Transaction completed');


                // Ajax functionality

                $.ajax({

                    type: 'POST',
                    url: '#order',
                    data: {

                        name: $('#name').val(),
                        email: $('#email').val(),

                        address1: $('#address1').val(),
                        address2: $('#address2').val(),
                        city: $('#city').val(),

                        state: $('#state').val(),
                        zipcode: $('#zipcode').val(),


                        csrfmiddlewaretoken: "{{csrf_token}}",
                        action: 'post'

                    },

                    success: function (json) {

                        console.log(json)

                        window.location.replace("#success");


                    },

                    error: function (xhr, errmsg, err) {

                        console.log(json)

                        window.location.replace("#failed");

                    }

                });


            };

            return actions.order.capture().then(captureOrderHandler);
        },

        // handle unrecoverable errors
        onError: (err) => {
            console.error('An error prevented the buyer from checking out with PayPal');



        }
    });

    paypalButtonsComponent
        .render("#paypal-button-container")
        .catch((err) => {
            console.error('PayPal Buttons failed to render');
        });





</script> {% endblock body %}